<% provide :title, t("subjects.title") %>
<div class="col col-md-10 col-md-offset-1">
  <h1><%= t "subjects.title" %></h1>
  <h3 class="center">
    <%= link_to t("subjects.new_subject"), new_admin_subject_path,
      class: "btn btn-success" %>
  </h3>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><%= sort_link @search, :name, t("subjects.name") %></th>
        <th><%= sort_link @search, :question_number,
          t("subjects.question_number") %></th>
        <th><%= sort_link @search, :duration, t("subjects.duration") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @subjects %>
    </tbody>
  </table>
  <%= paginate @subjects %>
</div>
