<% provide :title, t("exams.do_exam", name: @exam.subject.name) %>
<div class="col-sm-10 col-sm-offset-1 do-exam">
  <%= form_for [:admin, @exam] do |exam| %>
    <ol>
      <%= exam.fields_for :results do |result| %>
        <li class="<%= result.object.state %>">
          <div class="question-title"><%= result.object.question.question %></div>
          <% result.object.question.answers.each do |answer| %>
            <div class="question-content">
              <%= result.check_box :multiple_answers,
                {checked: result.object.multiple_answers.include?(answer.id.to_s),
                multiple: true, disabled: true}, answer.id, false %>
              <%= background answer, result.object %><br>
            </div>
          <% end %>
          <%= result.select :state, t("boolean").map {|k, v| [k, k]},
            selected: result.object.state ? true : false %>
        </li>
      <% end %>
    </ol>
    <div class="button-exam admin-exam">
      <%= link_to t(:back), admin_exams_path, class: "btn btn-info" %>
      <%= exam.hidden_field :status, value: "checked" %>
      <%= exam.submit t("exams.finish"), class: "btn btn-primary",
        data: {confirm: t("exams.finish_warning")} %>
    </div>
  <% end %>
</div>
