<% provide :title, t("home.signup") %>
<div class="col-md-6 col-md-offset-3">
  <h1><%= t "home.signup" %></h1>

  <%= form_for resource, as: resource_name,
    url: registration_path(resource_name) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <i>
        <%= t "users.leave_blank" %>
      </i>
      <% if @minimum_password_length %>
        <em><%= t "users.minimum_password_length",
          minpasslength: @minimum_password_length %></em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off",
        class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control" %>
    </div>

    <div class="actions center">
      <%= f.submit t("users.#{params[:action]}"),
        class: "btn btn-primary submit-btn" %>
    </div>
  <% end %>
  <%= link_to t(:log_in), new_session_path(resource_name) %>
</div>
