<% provide :title, t("exams.do_exam", name: @exam.subject.name) %>
<h3>
  <%= t "exams.score" %>: 
  <%= t "exams.score_form", score: @exam.score,
    total: @exam.subject.question_number %>
</h3>
<div class="col-sm-8 col-sm-offset-2 do-exam">
  <%= form_for @exam do |exam| %>
    <ol>
      <%= exam.fields_for :results do |result| %>
        <li>
          <div class="question-title">
            <%= result.object.question.question %>
          </div>
          <%= result.object.state.to_s.humanize %>
          <% result.object.question.answers.each do |answer| %>
            <div class="question-content">
              <%= result.check_box :multiple_answers,
                {checked: result.object.multiple_answers.include?(answer.id.to_s),
                multiple: true, disabled: true}, answer.id, false %>
              <%= background answer, result.object %></span><br>
            </div>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% end %>
  <div class="button-exam admin-exam">
    <%= link_to t(:back), :back, class: "btn btn-info" %>
  </div>
</div>
