<% provide :title, t("exams.title") %>
<div class="exams-index col-sm-10 col-sm-offset-1">
  <%= form_for @exam, remote: true, html: {class: "row"} do |f| %>
    <div class="col-sm-3">
      <%= f.select :subject_id,
        options_from_collection_for_select(@subjects, :id, :name), {},
        class: "form-control" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit t("button.create"), class: "btn btn-primary" %>
    <div class="clear-fix"></div>
  <% end %>
  <hr />
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><%= t "exams.created_at" %></th>
        <th><%= t "exams.subject" %></th>
        <th><%= t "exam.status" %></th>
        <th><%= t "subjects.duration" %></th>
        <th><%= t "subjects.question_number" %></th>
        <th><%= t "exams.spent_time" %></th>
        <th><%= t "exams.score" %></th>
        <th><%= t :action %></th>
      </tr>
    </thead>
    <tbody class="render-exam">
      <%= render @exams %>
      <%= paginate @exams %>
    </tbody>
  </table>
</div>
