<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:title), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("home.name"), root_path %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to t(:log_out), destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to t(:log_in), new_user_session_path %>
          </li>
          <li>
            <%= link_to t("home.log_in_with_fb"),
              user_facebook_omniauth_authorize_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
